/* Coolors Exported Palette - coolors.co/2e3233-fffefc-515b5e-e2e3df-caf200 */

/* HSL */
$color1: hsla(192%, 5%, 19%, 1);
$color2: hsla(40%, 100%, 99%, 1);
$color3: hsla(194%, 7%, 34%, 1);
$color4: hsla(75%, 7%, 88%, 1);
$color5: hsla(70%, 100%, 47%, 1);

/* RGB */
$color1: rgba(46, 50, 51, 1);
$color2: rgba(255, 254, 252, 1);
$color3: rgba(81, 91, 94, 1);
$color4: rgba(226, 227, 223, 1);
$color5: rgba(202, 242, 0, 1);